.monster-dropdown {
    font-family: 'Calibri', 'Arial', sans-serif;
    margin-top: 13px;
}

.myClassListName {
    max-height: 260px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.myClassItemName:hover {
    background-color: gainsboro;
}