.monster-dropdown {
    font-family: 'Calibri', 'Arial', sans-serif;
    margin-top: 13px;
}

.myClassListName {
    max-height: 260px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.hellostyles {
    width: 210px;
    font-family: "Calibri, Arial, sans-serif";
}

.myClassItemName:hover {
    background-color: #cacaca;
}

.myClassItemName:focus {
    background-color: none;
}