.equipmenticon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 12px;
    margin-right: 12px;
}

#equipmenticonimg:hover {
    background-color: rgb(29, 29, 29);
    cursor: pointer;
}

.equipmenticon-narrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
}