.equipmenticon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 12px;
    margin-right: 12px;
}

#equipmenticonimg:hover {
    background-color: rgb(29, 29, 29);
    cursor: pointer;
}

#equipmenticonimgSelected {
    position: absolute;
    z-index: 2;
    left: 2px;
    background-color: #555651;
    width: 30px;
    padding-left: 2px;
    height: 30px;
}

#equipmenticonimgSelected:hover {
    cursor: pointer;
}

.equipmenticon-narrow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
}