.equipmentpanel {
    width: 240px;
    height: 310px;
    margin: auto;
    margin-top: 3px;
    position: relative;
}

.equipmentrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chkwildy {
    position: absolute;
    top: 250px;
    left: 22px;
    color: 
    #cf7b19;
    text-shadow: 1px 1px black;
}

.chkwbox {
    position: absolute;
    top: 249px;
    left: 0px;
}
