.modal {
        width: 270px;
        height: 400px;
        background-color: black;
        opacity: 0.75;
        z-index: 5;
        position: absolute;
        top: -75px;
        left: -15px;
}

/* .heeloo {
        display: flex;
        margin-top: 20px;
        
}

#mySelect {
        display: absolute;
        width: 800px;
        height: 800px;
        background-color: blue;
} */