.tab {
    width: 32px;
    height: 32px;
    background-color: aqua;
    display: flex;
justify-content: center;
align-items: center;
margin: 5px;
padding: 3px;
border: 1px solid black;
background: rgb(38,35,32);
background: linear-gradient(5deg, rgba(38,35,32,1) 0%, rgba(128,112,101,1) 56%);
}

.tabSelected {
    width: 32px;
    height: 32px;
    background-color: aqua;
    display: flex;
justify-content: center;
align-items: center;
margin: 5px;
padding: 3px;
border: 1px solid black;
    /* background: rgba(128,112,101,1);
    background: linear-gradient(5deg, rgba(128,112,101,1) 0%, rgba(38,35,32,1) 56%); */
    background: rgb(108,40,39);
background: linear-gradient(5deg, rgba(108,40,39,1) 0%, rgba(51,3,2,1) 56%);
}

.tabSelected:hover {
    cursor: pointer;
}

.tab:hover {
    background: rgba(128,112,101,1);
    background: linear-gradient(5deg, rgba(128,112,101,1) 0%, rgba(38,35,32,1) 56%);
    cursor: pointer;
}
